.keywords span {
    position: relative;
    display: inline-block;
    margin: 0 0 1rem 2rem;
    padding: 0.4rem 1.6rem;
    line-height: 1.6rem;
    font-size: 1.4rem;
    background-color: var(--color-card);
    box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    border-radius: 0 0.4rem 0.4rem 0;
}

.tv {
    display:flex;
}

.logo img {
    max-width:100px;
}
#slider {
     max-width:900px;
}
#slider:hover {
    
}
.minislider1 {
    max-width:150px;
}
.minislider2
 {
    max-width:150px;
}
#noneminislider2 {
    display:none;
}


.minislider3 {
    max-width:150px;
}
.minislider4 {
    max-width:150px;
}
.minislider4 {
    max-width:150px;
}
.minislider5 {
    max-width:150px;
}
.panier {
    background: #f1f1f1;
}
.panierAndPrice {
    display:flex;
    justify-content: space-around;
}
.price p:nth-child(1) {
    font-size:2rem;
    text-align: center;
}
.price p:nth-child(2) {
    text-align: center;
}
.addpanier{
     display:flex;
     flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#mybouton3 {
    background: #4c859b;
    color:#fff;
    padding: 1rem 2rem 1rem 2rem;
}
#mybouton4 {
    background: #feffff;
    color:#4c859b;
     padding: 1rem 0.52rem 1rem 0.52rem;
}
.garantie {
    background: #dedede;
    text-align:center;
    padding:1rem;
}
article p, article li {
    line-height: 1.5rem;
}